@import './tailwind.css';
@import './base.css';

/* Accents */
body h1,
.title-font {
    color: var(--color-heading)
}

.hamburger button, .toc-button button{
    color: var(--color-accent) !important;
}

.accent {
    color: var(--color-accent);
}

.button {
    background-color: var(--color-accent);
    color: var(--color-text-contrast);
}

.navbar,
.sidebar,
.mobile-sidebar {
    background-color: var(--color-background);
}

.active,
.accent,
.sidebar button,
.mobile-sidebar button {
    color: var(--color-accent);
}

#article-body a {
    color: var(--color-accent);
}

.toc>a {
    color: var(--color-text-accent);
}

.active-anchor {
    color: var(--color-accent);
}

.sidebar a,
.mobile-sidebar a {
    color: var(--color-text-accent);
}

.sidebar a:hover {
    background-color: var(--color-background-soft);
    font-weight: 600;
}

.toggles button.active {
    background-color: var(--color-accent);
}



/* Speed Reading */
body.bionic #article-body p>b {
    font-weight: 700;
    font-size: 19px;
}

body.bionic #article-body h1,
body.bionic #article-body h2,
body.bionic #article-body h3 {
    font-weight: bold !important;
}

#article-body a {
    font-weight: bold !important;
}

/* Article Headers */
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
    scroll-margin-top: 4.2rem;

}

#article-body h1 {
    font-size: 2.2rem;
}

#article-body h2 {
    font-size: 1.65rem;
    padding-bottom: 0.3rem;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#article-body h1,
#article-body h2,
#article-body h3,
#article-body h4,
#article-body h5,
#article-body h6 {
    font-weight: 600;
    line-height: 1.25;
}

#article-body h1:focus .header-anchor,
#article-body h2:focus .header-anchor,
#article-body h3:focus .header-anchor,
#article-body h4:focus .header-anchor,
#article-body h5:focus .header-anchor,
#article-body h6:focus .header-anchor,
#article-body h1:hover .header-anchor,
#article-body h2:hover .header-anchor,
#article-body h3:hover .header-anchor,
#article-body h4:hover .header-anchor,
#article-body h5:hover .header-anchor,
#article-body h6:hover .header-anchor {
    opacity: 1;
}

#article-body h3 {
    font-size: 1.35rem;
}

/* Article Text */
#article-body p,
#article-body ul,
#article-body ol {
    line-height: 1.7;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#article-body ul {
    list-style-type: disc
}

#article-body ul li::marker {
    color: var(--color-accent);
}

#article-body ol {
    list-style-type: upper-roman;
}

#article-body ol li::marker {
    color: var(--color-accent);
}


#article-body p.image-caption {
    margin-top: -3em;
    line-height: 1.5em;
    font-size: 13px;
}

#article-body hr {
    border: 0;
}

#article-body ul,
#article-body ol {
    padding-left: 1.2em;
}


/* Article Features */
#article-body code,
#article-body kbd,
#article-body .line-number {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#article-body blockquote>p {
    margin: 0;
}

#article-body table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto;
}

#article-body tr {
    border-top: 1px solid #dfe2e5;
}

#article-body tr:nth-child(2n) {
    background-color: #f6f8fa;
}

#article-body th,
#article-body td {
    border: 1px solid #dfe2e5;
    padding: 0.6em 1em;
}

#article-body p a code {
    font-weight: normal;
    font-size: 18px;
}

#article-body kbd {
    background: #eee;
    border: solid 0.15rem #ddd;
    border-bottom: solid 0.25rem #ddd;
    border-radius: 0.15rem;
    padding: 0 0.15em;
}

#article-body blockquote {
    font-size: 1rem;
    color: #999;
    border-left: 0.2rem solid #F2D024;
    margin: 1rem 0;
    padding: 0.25rem 0 0.25rem 1rem;
}

/* Article Links */
#article-body a {
    font-weight: 600;
}

#article-body a[href^="http"]::after,
#article-body a[href^="https://"]::after {
    content: "";
    width: 15px;
    height: 15px;
    margin-left: 3px;
    background: no-repeat var(--icon-external-link);
    background-position: bottom;
    background-size: contain;
    display: inline-flex;
}


#article-body a.header-anchor {
    font-size: 0.85em;
    float: left;
    margin-left: -0.87em;
    padding-right: 0.23em;
    margin-top: 0.125em;
    user-select: none;
    opacity: 0;
}

#article-body a.header-anchor:focus,
#article-body a.header-anchor:hover {
    text-decoration: none;
}

/* Images */
#article-body img {
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 2rem 0;
}